<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/form.css">
<body>
<div class="login-page">
    <div class="form">
        <div>
            <h2>쿠폰 발급</h2>
        </div>
        <div class="login-form">
            <input id="name" type="text" name="name" placeholder="쿠폰 이름">
            <input id="issuable-date" type="date" name="issuable-date" placeholder="발급 가능 날짜">
            <input id="usable-date" type="date" name="usable-date" placeholder="사용 가능 날짜">
            <input id="price" type="text" name="price" placeholder="할인 금액">
            <input id="amount" type="text" name="amount" placeholder="수량">
        </div>
        <span>
            <button type="submit" onclick="create()">쿠폰 생성</button>
        </span>&emsp;
        <span>
            <button type="submit" onclick="findAll()">쿠폰 조회</button>
        </span>
    </div>
</div>
<div id="coupons" class="coupon-page"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
<script>
    function create() {
        const name = document.getElementById('name');
        const issuableDate = document.getElementById('issuable-date');
        const usableDate = document.getElementById('usable-date');
        const price = document.getElementById('price');
        const amount = document.getElementById('amount');

        const data = {};
        data.name = name.value;
        data.issuableDate = issuableDate.value + "T00:00:00";
        data.usableDate = usableDate.value + "T00:00:00";
        data.price = price.value;
        data.amount = amount.value;
        const dataBody = JSON.stringify(data);

        fetch("/api/v1/coupon", {
            method: "POST",
            body: dataBody,
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        }).then(response => {
            if (response.status !== 200) {
                const res = response.json();
                res.then(data => error(data.message));
            } else {
                findAll();
            }
        })
    }

    function error(errorMessage) {
        alert(errorMessage);
    }

    const couponTemplate =
        "{{#coupons}}\n" +
        "<div class='form'>\n" +
        "     <div>\n" +
        "          <span>쿠폰 번호 : {{id}}</span>&emsp;\n" +
        "          <span>쿠폰 이름 : {{name}}</span>\n" +
        "          </br>" +
        "          <p id='issuableDate'>발급 가능 날짜 : {{issuableDate}}</p>\n" +
        "          <p id='usableDate'>사용 가능 날짜 : {{usableDate}}</p>\n" +
        "          <p>할인 금액 : {{price}}원</p>\n" +
        "          </br>\n" +
        "     </div>\n" +
        "</div>\n" +
        "{{/coupons}}\n";

    function findAll() {
        fetch("/api/v1/coupon", {
            method: "GET",
        })
            .then(response => {
                if (response.status !== 200) {
                    const res = response.json();
                    res.then(data => error(data.message));
                } else {
                    const res = response.json();
                    res.then(data => addCoupon(data));
                }
            })
    }

    function addCoupon(json) {
        const data = json;
        console.log(data);
        const couponItemTemplate = Handlebars.compile(couponTemplate);
        const coupons = document.getElementById('coupons');
        const datas = {
            coupons: data
        };
        coupons.innerHTML = couponItemTemplate(datas);
    }

    findAll();
</script>
</html>