<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h2>발급 가능 쿠폰</h2>
</div>
<div>
    <ul id="coupons"></ul>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
<script>
    const couponTemplate =
        "{{#coupons}}\n" +
        "<li>\n" +
        "     <div>\n" +
        "          <p>{{name}}</p>\n" +
        "          <p>{{issuableDate}}</p>\n" +
        "          <p>{{usableDate}}</p>\n" +
        "          <p>{{price}}</p>\n" +
        "          <button onclick='issue({{id}})'>발급 받기</button>\n" +
        "     </div>\n" +
        "</li>\n" +
        "{{/coupons}}\n";

    function issue(id) {
        console.log("id is " + id);
        fetch("/api/v1/issuedcoupon/" + id, {
            method: "GET",
        })
            .then(response => {
                if (response.status !== 200) {
                    const res = response.json();
                    res.then(data => error(data));
                } else {
                    alert("발급 완료")
                }
            })
    }

    function findIssuableCoupons() {
        fetch("/api/v1/coupon/issuable", {
            method: "GET",
        })
            .then(response => response.json())
            .then(addCoupon)
            .catch(error);
    }

    function addCoupon(json) {
        const data = json;
        console.log(data);
        const couponItemTemplate = Handlebars.compile(couponTemplate);
        const coupons = document.getElementById('coupons');
        const datas = {
            coupons: data
        };
        coupons.innerHTML = couponItemTemplate(datas);
    }

    function error(err) {
        alert('오류가 발생했습니다. 다시 시도해주세요');
    }

    findIssuableCoupons();
</script>
</html>