<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/form.css">
<body>
<div class="login-page">
    <div class="form">
        <div>
            <h2>로그인</h2>
        </div>
        <div class="login-form">
            <input id="member-name" type="text" name="member-name" placeholder="membername">
            <input id="password" type="password" name="password" placeholder="password">
        </div>
        <div>
            <button type="submit" onclick="login()">로그인</button>
        </div>
        <p class="message">
            <a href="/member/signup">회원가입</a>
        </p>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    function login() {
        const name = document.getElementById('member-name');
        const password = document.getElementById('password');

        const data = {};
        data.memberName = name.value;
        data.password = password.value;
        const dataBody = JSON.stringify(data);

        fetch("/api/v1/member/login", {
            method: "POST",
            body: dataBody,
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then(response => {
                if (response.status !== 200) {
                    const res = response.json();
                    res.then(data => error(data.message));
                } else {
                    location.href = "/"
                }
            })
    }

    function error(errorMessage) {
        alert(errorMessage);
    }
</script>
</html>