<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="findUsableCoupons()">사용 가능 쿠폰 조회</button>
<div>
    <ul id="coupons"></ul>
</div>
<a href="/coupon/issue">쿠폰 발급 페이지</a>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
<script>
    const couponTemplate =
        "{{#coupons}}\n" +
        "<li>\n" +
        "     <div>\n" +
        "          <p>쿠폰 코드 : {{couponCode}}</p>\n" +
        "          <p>쿠폰 이름 : {{couponName}}</p>\n" +
        "          <p>할인 금액 : {{couponPrice}}원</p>\n" +
        "     </div>\n" +
        "</li>\n" +
        "{{/coupons}}\n";

    function findUsableCoupons() {
        fetch("/api/v1/issuedcoupon/usable", {
            method: "GET",
        })
            .then(response => {
                if (response.status !== 200) {
                    const res = response.json();
                    res.then(data => error(data.message));
                } else {
                    const res = response.json();
                    res.then(data => addCoupon(data));
                }
            })
    }

    function addCoupon(json) {
        const data = json;
        console.log(data);
        const couponItemTemplate = Handlebars.compile(couponTemplate);
        const coupons = document.getElementById('coupons');
        const datas = {
            coupons: data
        };
        coupons.innerHTML = couponItemTemplate(datas);
    }

    function error(errorMessage) {
        alert(errorMessage);
    }
</script>
</html>