<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/form.css">
<body>
<div class="login-page">
    <div class="form">
        <h2>사용 가능 쿠폰 조회</h2>
        <button onclick="findUsableCoupons()">사용 가능 쿠폰 조회</button>
        <p class="message">
            <a href="/coupon/issue">쿠폰 발급 페이지</a>
        </p>
        </br>
        <div id="coupons"></div>
    </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
<script>
    const couponTemplate =
        "{{#coupons}}\n" +
        "<div class='form'>\n" +
        "     <div>\n" +
        "          <p>쿠폰 코드</p>\n" +
        "          <p style='font-size: 5px'>{{couponCode}}</p>\n" +
        "          <p>{{couponName}}</p>\n" +
        "          <p>{{couponPrice}}원 할인</p>\n" +
        "     </div>\n" +
        "</div>\n" +
        "{{/coupons}}\n";

    function findUsableCoupons() {
        fetch("/api/v1/issuedcoupon/usable", {
            method: "GET",
        })
            .then(response => {
                if (response.status !== 200) {
                    const res = response.json();
                    res.then(data => error(data.message));
                } else {
                    const res = response.json();
                    res.then(data => addCoupon(data));
                }
            })
    }

    function addCoupon(json) {
        const data = json;
        console.log(data);
        const couponItemTemplate = Handlebars.compile(couponTemplate);
        const coupons = document.getElementById('coupons');
        const datas = {
            coupons: data
        };
        coupons.innerHTML = couponItemTemplate(datas);
    }

    function error(errorMessage) {
        alert(errorMessage);
    }
</script>
</html>