<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/form.css">
<body>
<div class="login-page">
    <div style="text-align: center">
        <div>
            <h2>주문 내역</h2>
        </div>
    </div>
    <div id="orders"></div>
</div>
>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
<script>
    const orderTemplate =
        "{{#orders}}\n" +
        "<div class='form'>\n" +
        "     <div>\n" +
        "          <div>\n" +
        "               <span>주문 번호 : {{orderId}}</span>\n" +
        "          </div>\n" +
        "          </br>\n" +
        "          <div>메뉴</div>\n" +
        "          <div>\n" +
        "          {{#menus}}\n" +
        "               <p>메뉴 번호 : {{menuId}}</p>\n" +
        "               <p>메뉴 이름 : {{menuName}}</p>\n" +
        "               <p>메뉴 가격 : {{menuPrice}}원</p>" +
        "          {{/menus}}\n" +
        "          </div>\n" +
        "          </br>\n" +
        "          <p>\n" +
        "               <p>결제 수단 : {{paymentType}}</p>\n" +
        "               <p>주문 상태 : {{orderStatus}}</p>\n" +
        "          </p>\n" +
        "          </br>\n" +
        "          <div>쿠폰</div>\n" +
        "          <div>\n" +
        "          {{#coupons}}\n" +
        "               <p>쿠폰 코드 : {{couponCode}}</p>\n" +
        "               <p>쿠폰 이름 : {{couponName}}</p>\n" +
        "               <p>쿠폰 할인 가격 : {{couponPrice}}원</p>\n" +
        "          {{/coupons}}\n" +
        "          </div>\n" +
        "          </br>\n" +
        "          <p>\n" +
        "               <p>주문 총 금액 : {{totalPrice}}원</p>\n" +
        "               <p>할인 총 금액 : {{totalDiscountPrice}}원</p>\n" +
        "          </p>\n" +
        "          <button onclick='cancelOrder({{orderId}})'>주문 취소</button>\n" +
        "     </div>\n" +
        "</div>\n" +
        "{{/orders}}\n";

    function findOrderHistory() {
        fetch("/api/v1/order/", {
            method: "GET",
        })
            .then(response => {
                if (response.status !== 200) {
                    const res = response.json();
                    res.then(data => error(data.message));
                } else {
                    const res = response.json();
                    res.then(data => addOrder(data));
                }
            })
    }

    function addOrder(json) {
        const data = json;
        console.log(data);
        const couponItemTemplate = Handlebars.compile(orderTemplate);
        const orders = document.getElementById('orders');
        const datas = {
            orders: data
        };
        orders.innerHTML = couponItemTemplate(datas);
    }

    function error(errorMessage) {
        alert(errorMessage);
    }

    findOrderHistory();

    function cancelOrder(orderId) {
        fetch("/api/v1/order/" + orderId, {
            method: "DELETE",
        })
            .then(response => {
                if (response.status !== 200) {
                    const res = response.json();
                    res.then(data => error(data.message));
                } else {
                    alert("취소 완료");
                    findOrderHistory();
                }
            })
    }
</script>
</html>