<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="mrg-btm-30">
    <h2>주문 내역</h2>
</div>
<div>
    <ul id="orders"></ul>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
<script>
    const orderTemplate =
        "{{#orders}}\n" +
        "<li>\n" +
        "     <div>\n" +
        "          <div>\n" +
        "               <span>주문 번호 : {{orderId}}</span>\n" +
        "               <button onclick='cancelOrder({{orderId}})'>주문 취소</button>\n" +
        "          </div>\n" +
        "          <div>메뉴</div>\n" +
        "          <ul>\n" +
        "          {{#menus}}\n" +
        "               <li>메뉴 번호 : {{menuId}}</li>\n" +
        "               <li>메뉴 이름 : {{menuName}}</li>\n" +
        "               <li>메뉴 가격 : {{menuPrice}}원</li>" +
        "               </br>\n" +
        "          {{/menus}}\n" +
        "          </ul>\n" +
        "          <p>\n" +
        "               <span>결제 수단 : {{paymentType}}</span>&emsp;\n" +
        "               <span>주문 상태 : {{orderStatus}}</span>&emsp;\n" +
        "          </p>\n" +
        "          <div>쿠폰</div>\n" +
        "          <ul>\n" +
        "          {{#coupons}}\n" +
        "               <li>쿠폰 코드 : {{couponCode}}</li>\n" +
        "               <li>쿠폰 이름 : {{couponName}}</li>\n" +
        "               <li>쿠폰 할인 가격 : {{couponPrice}}원</li>\n" +
        "               </br>\n" +
        "          {{/coupons}}\n" +
        "          </ul>\n" +
        "          <p>\n" +
        "               <span>주문 총 금액 : {{totalPrice}}원</span>&emsp;\n" +
        "               <span>할인 총 금액 : {{totalDiscountPrice}}원</span>&emsp;\n" +
        "          </p>\n" +
        "     </div>\n" +
        "</li>\n" +
        "{{/orders}}\n";

    function findOrderHistory() {
        fetch("/api/v1/order/", {
            method: "GET",
        })
            .then(response => {
                if (response.status !== 200) {
                    const res = response.json();
                    res.then(data => error(data.message));
                } else {
                    const res = response.json();
                    res.then(data => addOrder(data));
                }
            })
    }

    function addOrder(json) {
        const data = json;
        console.log(data);
        const couponItemTemplate = Handlebars.compile(orderTemplate);
        const orders = document.getElementById('orders');
        const datas = {
            orders: data
        };
        orders.innerHTML = couponItemTemplate(datas);
    }

    function error(errorMessage) {
        alert(errorMessage);
    }

    findOrderHistory();

    function cancelOrder(orderId) {
        fetch("/api/v1/order/" + orderId, {
            method: "DELETE",
        })
            .then(response => {
                if (response.status !== 200) {
                    const res = response.json();
                    res.then(data => error(data.message));
                } else {
                    alert("취소 완료");
                    findOrderHistory();
                }
            })
    }
</script>
</html>