<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="mrg-btm-30">
    <h2>회원가입</h2>
</div>
<div>
    <label>MemberName</label>
    <input id="membername" type="text" name="membername">
</div>
<div>
    <label>Password</label>
    <input id="password" type="password" name="password" placeholder="Password">
</div>
<div>
    <button id="signup-btn" onclick="signUp()">
        가입하기
    </button>
</div>
<div>
    <span>이미 회원이신가요?</span>
    <a href="/member/login">로그인</a>
</div>
</body>
    <script>
        function signUp() {
            const name = document.getElementById('membername');
            const password = document.getElementById('password');

            const data = {};
            data.memberName = name.value;
            data.password = password.value;
            const dataBody = JSON.stringify(data);

            fetch("/api/v1/member/signup", {
            method: "POST",
            body: dataBody,
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then(response => {
                if (response.status !== 200) {
                    const res = response.json();
                    res.then(data => error(data.message));
                } else {
                    location.href = "/member/login"
                }
            })
    }

        function error(errorMessage) {
            alert(errorMessage);
        }
</script>
</html>